{% extends 'layout.html.twig' %}

{% block content %}
{{ include('components/AlertBanner.html.twig', {
    message: '*Pricing has been adjusted based on your Job Quote',
    icon: 'var/assets/images/misc/flag.webp'
}) }}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    {{ include('components/Breadcrumb.html.twig', {
        items: [
            { label: 'Home', url: path('home'), icon: 'var/assets/images/misc/home.webp' },
            { label: product.name }
        ]
    }) }}

    <hr class="my-6 border-gray-300" />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div>
            <twig:Gallery />
        </div>

        <div>
            {{ include('components/ProductSummary.html.twig', {
                name: product.name,
                description: product.description,
                productId: product.productId,
                upc: product.upc,
                stockHome: null,
                stockOther: null,
                price: null,
                highlights: null,
                specs: product.features,
                videos: null,
                contacts: null,
                shippingPolicy: null,
                addToCartText: 'Add to Cart',
                cartProductId: product.productId,
                cartUom: 'EA'
            }) }}
        </div>
    </div>

    {{ include('components/ProductUpsell.html.twig', {
        title: 'You May Also Need...',
        products: productsUpsell ?? []
    }) }}

    {{ include('components/ProductFaq.html.twig', {
        faqs: faqs ?? []
    }) }}
</div>
{% endblock %}