<div class="banner-container {{ bannerClass|default('') }}">
    <img src="{{ bannerImage|default(asset('var/assets/images/branding/mls-darren.webp')) }}" alt="Mountainland Supply Banner" class="main-banner {{ imageClass|default('') }}"/>
    <div class="banner-overlay {{ overlayClass|default('') }}">
        <div class="banner-content {{ contentClass|default('') }}">
            <h1><span class="banner-small-text {{ smallTextClass|default('') }}">{{ bannerSmallText|default("Together, Let's") }}</span><br>{{ bannerTitle|default('MOVE MTNS.') }}</h1>
        </div>
    </div>
</div>
