<div class="form-group">
    <label for="{{ prefix }}-street">Street address</label>
    <input id="{{ prefix }}-street" type="text" placeholder="Street address" />
</div>
<div class="form-group">
    <label for="{{ prefix }}-city">City</label>
    <input id="{{ prefix }}-city" type="text" placeholder="City" />
</div>
<div class="form-group-row">
    <div class="form-group">
        <label for="{{ prefix }}-state">State</label>
        <input id="{{ prefix }}-state" type="text" placeholder="State" />
    </div>
    <div class="form-group">
        <label for="{{ prefix }}-zip">ZIP</label>
        <input id="{{ prefix }}-zip" type="text" placeholder="ZIP" />
    </div>
</div>